.container {
  @apply _stack-8;

  padding: 4rem 1rem;
  color: var(--jahia-color);
  background: var(--jahia-container-background);

  > * {
    max-width: var(--jahia-width);
    margin-inline: auto;
  }
}

.header {
  text-align: center;
  text-wrap: balance;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @screen sm {
    grid-template-columns: repeat(2, 1fr);

    > :nth-child(3n + 1) {
      grid-column: span 2;
    }
  }

  @screen md {
    grid-template-columns: repeat(6, 1fr);

    > * {
      grid-column: span 2;
    }

    > :nth-child(5n + 1),
    > :nth-child(5n + 2) {
      grid-column: span 3;
    }
  }
}

.grid > :first-child {
  --cut: 2rem;

  clip-path: polygon(var(--cut) 0, 100% 0, 100% 100%, 0 100%, 0 var(--cut));
  contain: paint;

  &::before {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: var(--cut);
    block-size: var(--cut);
    content: "";
    background-color: var(--jahia-border);
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }
}
