.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;

  > * {
    display: flex;

    > * {
      flex: 1;
    }
  }
}

.emptyState {
  @apply _stack-4;

  display: block;
  justify-content: center;
  text-align: center;

  button {
    margin-top: 1rem;
  }
}

/* Hide the empty state when at least one child is visible */
.grid:has(> *:not([hidden])) + .emptyState {
  display: none;
}
