.badge {
  display: inline-flex;
  padding: 0 0.25rem;
  font-family: monospace;
  font-size: 0.875rem;
  color: var(--jahia-neutral-700);
  background-color: var(--jahia-neutral-50);
  border: 1px solid var(--jahia-neutral-200);
  border-radius: 0.25rem;
}
