.container {
  composes: container from "../../theme/theme.module.css";
  padding: 0;
  background-color: var(--jahia-testimony-background);
}

.testimony {
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 100%;
  position: relative;
  max-width: 100%;

  @container (width < 800px) {
    flex-direction: column;
  }

  @container (width > 1600px) {
    max-width: calc(var(--jahia-width) * 1.3);
  }
}

.imageTestimony {
  order: 0;
  flex: 0 0 400px;
  position: relative;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.text {
  order: 1;
  padding: 3rem;

  @container (width < 600px) {
    padding: 2rem;
  }

  /* CTA styles */
  :global(a[class*="cta"]) {
    color: var(--jahia-testimony-text);
    border-color: var(--jahia-testimony-text);

    :global([class*="line"]) {
      background-color: var(--jahia-testimony-text);
    }

    &:hover {
      background: color-mix(in srgb, var(--jahia-testimony-text) 10%, transparent);
    }
  }

  blockquote {
    margin: 0;
  }

  p {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--jahia-testimony-text);

    strong {
      font-weight: 700;
    }

    @container (width < 600px) {
      font-size: 1.5rem;
      line-height: 1.5;
    }
  }

  .author {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
  }

  blockquote:before,
  blockquote:after {
    background: var(--jahia-testimony-text);
    height: 3rem;
    margin-block: 1rem;
  }

  @container (width < 600px) {
    blockquote:before,
    blockquote:after {
      height: 2rem;
    }
  }
}

.testimonyCover {
  padding: 0rem;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
    filter: blur(4px);
  }

  .text {
    padding: 4rem 8rem;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    margin: auto;

    @container (width < 600px) {
      padding: 2rem;
    }

    @container (width > 1600px) {
      max-width: calc(var(--jahia-width) * 1.3);
    }
  }
}
