.container {
  container-type: inline-size;
  color: var(--jahia-testimony-color);
  background: var(--jahia-testimony-background) center / cover no-repeat;
}

.testimony {
  display: grid;

  @container (width >= 800px) {
    grid-template-columns: minmax(15rem, 25rem) auto;
    max-width: calc(var(--jahia-width) * 1.2);
    margin: auto;
  }
}

.image {
  width: 100%;
  object-fit: cover;

  @container (width < 800px) {
    max-height: 15rem;
  }

  @container (width >= 800px) {
    /* Prevent the image from making the testimony taller than the text */
    height: 0;
    min-height: 100%;
    animation: testimony-push-in-left;
    animation-timeline: view();
    animation-range: entry 0% exit 100%;
  }
}

.text {
  @apply _stack-4;

  padding: 2rem;

  blockquote {
    margin-inline: 0;
    font-size: 1.5em;
    font-weight: 500;
  }

  blockquote::before,
  blockquote::after {
    background: currentcolor;
  }

  @container (width >= 800px) {
    padding: 3rem;

    blockquote {
      font-size: 2em;
      line-height: 1.25;
    }

    blockquote::before,
    blockquote::after {
      height: 3rem;
      margin-block: 1rem;
    }
  }
}

.cover {
  position: relative;
  overflow: hidden;
  view-timeline: --cover;
  view-timeline-axis: block;

  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    opacity: 0.2;
    animation: testimony-cover-float linear;
    animation-timeline: --cover;
    animation-range: entry 0% exit 100%;
  }

  .text {
    position: relative;
    z-index: 1;
    max-width: calc(var(--jahia-width) * 1.2);
    margin: auto;
  }
}

@keyframes testimony-cover-float {
  from {
    transform: translateY(20%) scale(1.4);
  }

  to {
    transform: translateY(-20%) scale(1.4);
  }
}

@keyframes testimony-push-in-left {
  0% {
    transform: translateX(-15%);
  }

  50% {
    transform: translateX(0%);
  }
}
