.container {
  padding: 2rem 1rem;
  color: var(--jahia-color);
  background: var(--jahia-background);

  > div {
    display: grid;
    gap: 1rem;
    max-width: var(--jahia-width);
    margin-inline: auto;
  }
}
