.item {
  background: var(--jahia-neutral-50);

  > h3 {
    font-size: 1rem;
  }
}

.header {
  @apply _pack-0;
}

.body {
  box-sizing: content-box;
  height: 0;
  opacity: 0;
  transform: translateY(-2rem);
  transition:
    transform var(--jahia-motion-timing),
    opacity var(--jahia-timing);
  contain: paint;
}

/* https://gautier.dev/articles/a-text-like-button */
.toggle {
  all: unset;
  flex: 1;
  padding: 1rem;
  cursor: pointer;
  outline: revert;

  @apply _pack-2;
}

.button {
  display: flex;
  padding: calc(7rem / 16);
  color: var(--jahia-blue);
  border: 1px solid var(--jahia-neutral-300);
  border-radius: 0.25rem;

  > * {
    transition: transform var(--jahia-motion-timing);
  }
}

.item[aria-expanded="true"] {
  .header {
    border-block-end: 1px solid var(--jahia-neutral-100);
  }

  .button > * {
    transform: rotate(135deg);
  }

  .body {
    height: auto;
    opacity: 1;
    transform: none;
  }
}
